body {
    font-family: Arial, sans-serif;
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

.scene {
    /* remova flex: 1; */
    max-width: 800px;
    width: 600px; /* Defina a largura desejada para a cena */
    height: 400px; /* Defina a altura desejada para a cena */
    margin: 10px auto; /* Adicionado auto para centralizar */
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

#scene-image {
    width: 600px; /* Defina a largura desejada para a imagem */
    height: 400px; /* Defina a altura desejada para a imagem */
    object-fit: cover; /* Isso fará com que a imagem cubra a área sem distorção */
}
.arrow {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.arrow img {
    width: 40px;
}

.arrow.up {
    top: 10px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
}
.arrow.right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.arrow.down {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}
.arrow.left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.narration {
    width: 100%; /* Ocupa a largura total disponível */
    max-width: 800px; /* Não estica além de 800px */
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
